@charset "utf-8";
/* CSS Document */

#paginainicio
{
background:#FFF;
}
#titulo
{
background:#333;
}
#pienombre
{
background:#333;
}
#fondo
{
	background:#FFF;
}
#estilo1
{
	background:#F33;
}
#estilo2
{
	background:#F30;
}
#estilo3
{
	background:#C90;
}
#estilo4
{
	background:#366;
}
#estilo5
{
	background:#933;
}
#estilo6
{
	background:#C97;
}
#estilo7
{
	background:#633;
}
#estilo8
{
	background:#09C;
}
#estilo9
{
	background:#336;
}
#estilo10
{
	background:#09C;
}
#estilo11
{
	background:#966;
}

